.donation-form-enter {
    opacity: 0;
  }
  .donation-form-enter-done {
    /* margin: 1em; */
    position: absolute; 
    top: 0;
    bottom: 0; 
    left: 0; 
    right: 0;
  }
  .donation-form-enter-active {
    opacity: 1;
    transition: opacity 200ms;
    
  }
  .donation-form-exit {
    opacity: 1;
  }
  .donation-form-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }