.hvr-underline-from-center:before {
    height: 0px;
    border-bottom: 2px solid rgb(91, 39, 188);
    background: rgb(91, 39, 188);
}

.hvr-underline-from-center.active:before {
    height: 0px;
    border-bottom: 0px solid rgb(91, 39, 188);
    /* background: rgb(91, 39, 188); */
}

.nav-link {
    margin: 5px;
}

button.hvr-forward {
    transition: unset;
    transition-duration: 0.3s;
}

button.hvr-forward:hover {
    transform: translateX(12px) translateY(-6px);
}